.GridContainer{
    display: grid;
    grid-template-columns: 75% auto;
    height: 1000px;
    width: 1000px;
}

.Main {

    background: #FFF;}

.Sidebar{
    width: 250px;
    height: 1000px;
    flex-shrink: 0;

    background: #ececec;
}

.wrapper{
    margin: 20px;
}