@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Pattaya&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Custom styles can be added below this line */

@media (max-width: 767px) {
    body {
      transform: scale(0.35);
      transform-origin: top left;
      width: 280%; /* 1/0.25 = 4 → 400% */
      height: 100vh;
      overflow-x: hidden;
      margin: 0;
    }
}

