:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	display: flex;
	width: 100;
	padding: 34px 140px 38px 140px;
	margin: 0;
	justify-content: center;
	align-items: center;
	background: url(assets/background.png) lightgray 50% / cover no-repeat;
}

/* #app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
} */

header {
	display: flex;
	width: 1000px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.HeaderBanner {
	width: 1000px;
	height: 90px;
	background: url('assets/HeaderBanner.png') lightgray 50% / contain no-repeat;
}

.HeaderCarousel {
	width: 1000px;
	height: 350px;
	aspect-ratio: 20/7;
	background: url('assets/HeaderCarousel.jpg') lightgray 50% / cover no-repeat;
}

header nav {
	display: flex;
	width: 1000px;
	height: 40px;
	justify-content: flex-end;
	align-items: flex-start;
	background: var(--RED-GRADIENT, linear-gradient(0deg, #B43947 6.88%, #F87786 93.12%));
}


footer {
	display: inline-flex;
	width: 1000px;
	height: 120px;
	align-items: center;
	flex-shrink: 0;
	background: #282A70;
}


header a {
	color: #fff;
	padding: 0.75rem;
	text-decoration: none;
}

header a.active {
	background-color: #0005;
}

header a:hover {
	background-color: #0008;
}

main {
	flex: auto;
	display: flex;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 639px) {
	main {
		margin: 2rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
}


strong {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 10px auto;
	flex-shrink: 0;
	font-size: medium;
	color: #4C50D6;
}

.SidebarHeader{
	display: flex;	
	height: 32px;
	padding: 0px 0px;
	justify-content: center;
	align-items: center;
	background: var(--BLUE-GRADIENT, linear-gradient(0deg, #282A70 0%, #7273A0 100%));
}

.SidebarBody{
	display: flex;
	height: 156px;
	justify-content: center;
	align-items:center;
	gap: 17px;
	margin-bottom: 15px;
	background: #FFF;
}

.LogoBackground{
	width: 47px;
	height: 47px;
	flex-shrink: 0;
    background-image: url("../src/assets/Ellipse.svg"); /* Replace with your SVG's path */
}

.FlagIndo{
	width: 77px;
	height: 47px;
	flex-shrink: 0;
    background-image: url("../src/assets/indo.svg"); /* Replace with your SVG's path */
}

.FlagUK{
	width: 47px;
	height: 47px;
	flex-shrink: 0;
    background-image: url("../src/assets/uk.svg"); /* Replace with your SVG's path */
}